*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: gray;
}

.container{
    width: 90%;
    margin: 0 auto;
    background-color:aqua;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item{
    width: 40%;
    height: 100px;
    background-color: red;
    border: 1px solid;
}
#item1{
    display: flex;
}