* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {

    width: 100%;
}

.header-container {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header {
    width: 98%;
    margin: 0 auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

}

/* Main Content */
.main-content {
    margin-top: 2em;
    width: 50%;
    height: 300px;

    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

#content-item-2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-dabba2 {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 70%;
    color: rgb(207, 202, 202);

}

#search2 {
    width: 20%;
    padding-top: 4px;
    padding-bottom: 4px;
}

#main-content-para1 {
    font-size: 10px;
    text-align: center;

}

#main-content-para2 {
    font-size: 22px;
    font-weight: 100;
    text-align: center;

}


#main-content-para3 {
 
    text-align: center;
    font-size: 10px;
    text-align: center;
    color: gray;
    margin-top:0.em;
}

#main-content-img-1 {
    margin-top: 1.6em;
}


#main-content-para4 {
    font-size: 8px;
    text-align: center;
    color: gray;
    margin-top: -1em;

}