* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bada-dabba{
    height: 1000px;
    background-color: rgb(111, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 300px;
    width: 300px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* justify-content: space-between;
    justify-content: space-evenly; */
    /* flex-wrap: wrap;
    align-items: end;
    align-items: center;
    */
    /* column-gap:50px ; */
    /* gap: 50px;
    align-content: center; */
    margin: 0 auto;
}

.item {
    height: 50px;
    width: 50px;
    border: 2px solid rgb(8, 3, 3);
    background-color: aqua;
    /* margin-top: 10px; */


}

#item3 {
    order: 1;
    flex-grow: 2;
}