* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    width: 100%;

}

.header {
    width: 100%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar {
    width: 98%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.left-navbar {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.right-navbar {

    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 7px;
}

.right-item {
    font-size: 10px;
}

.ra {
    font-size: 8px;
    font-weight: 500;
}

#searchbar {
    width: 240px;
    height: 16px;
    border: none;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(245, 239, 239);
    font-size: 8px;
}


.section-1 {
    width: 100%;
    height: 100%;
}

.sction-1-content {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 7px;
    height: 140px;
    margin-top: 1.8em;

}

.content-section1 {
    padding: 0px 10px 0px 10px;

}



.img1-logo {
    width: 20%;

}

.center-section-content {
    padding-top: 3em;
    width: 50%;
}

.last-section-1 {
    width: 20%;
    display: flex;
    justify-content: center;

    gap: 10px;
    flex-wrap: wrap;
}


/* Section-2 */
.section-2-container {
    margin-top: 2em;
    width: 100%;

}

.section-2-main-content {
    width: 96%;
    background-color: rgb(43, 41, 41);
    margin: 0 auto;
    padding-top: 1.8em;
    border-radius: 10px;
}

.container-section-2 {
    width: 90%;
    margin: 0 auto;


}

.container-section-2 img {
    width: 100%;


}