.card{
    width: 350px;
    height: 480px;
    border-radius: 10px;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 auto;
}

.card img{
    border-radius: 10px;

    width: 100%;
    height: 60%;
}

#card-para{
   font-weight: bold;
   font-size: 28px;
}
span{ 
    height: 40px;
    font-size: 20px;
}
#item-price{
    margin-top: -1em;
    float: right;
}
#item-name{
      margin-top: -1em;
    float: left;
}