* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Relative***************************** */
/* 
.div1 {
    width: 70px;
    height: 70px;
    background-color: yellow;
    border: 1px solid black;
    position: relative;
    left:3em;
} */

/* absolute without z index normal vala***************************** */
/* .parentDiv {
    width: 400px;
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
    position: relative;

} */



/* .item {
    width: 100px;
    height: 100px;
    background-color: rgb(106, 0, 255);
    position: absolute; */
/* bottom: 0;
    right: 0; */
/* } */

/* #one {
    background-color: red;
    z-index: 10;
    top: 3em;
}

#two {
    background-color: rgb(183, 0, 255);
    left: 1em;
} */








/* 
.Fixed {
    width: 100px;
    height: 100px;
    background-color: rgb(106, 0, 255);
    position: fixed;
    bottom: 0;
} */



/*Fixed  index  vala***************************** */

body{
    height: 2000px;
}
.parent {
    height: 500px;
    width: 200px;
    background-color: rgb(106, 0, 255);

}

.child {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 0, 179);
    position: sticky;
    left: 4em;
    top: 10em;

}